//- Примеси
mixin nav(customClass)
  nav.nav(class=customClass)
    ul.nav__list
      li.nav__item
        a.nav__link(href='./providers.html') Поставщики
      li.nav__item
        a.nav__link(href='./equipment.html') Оборудование
      li.nav__item
        a.nav__link(href='./articles.html') Статьи

mixin location(locationCustomClass)
  .location(class=locationCustomClass)
    span.location__title Ваш город:
    a(href='.city-modal__overlay').location__value Санкт-Петербург
    .city-modal
      .city-modal__overlay
        .city-modal__item
          .city-modal__title
            span Правильно определили Ваш город?
          .city-modal__wrap
            .city-modal__btn
              button.card__order-btn
                span да
            .city-modal__link
              a(href=".cities-modal__overlay").location__value Другой город

mixin sort(sortCustomClass)
  .sort(class=sortCustomClass).sort--active
    .sort__wrap
      span.sort__title Сортировка:
      a(href='.sort__overlay').sort__value по рейтингу
    .sort__overlay
      .sort__modal
        .sort__inner
          span.sort__title Сортировка:
          a(href='#').sort__value по рейтингу
        .sort__items
          a(href='#').sort__item-link по цене  ↑
          a(href='#').sort__item-link по цене  ↓
          a(href='#').sort__item-link по рейтингу  ↑
          a(href='#').sort__item-link по рейтингу  ↓
          a(href='#').sort__item-link по min объем доставки  ↑
          a(href='#').sort__item-link по min объем доставки  ↓
          a(href='#').sort__item-link по дате обновления  ↑
          a(href='#').sort__item-link по дате обновления  ↓


mixin card(cardCustomClass, ratingStatusClass, statusClass)
  .card(class=cardCustomClass)
    .card__wrap
      .card__header
        .card__title
          span Газовая перспектива
        .card__header-wrap
          .card__rating
            .card__rating-title
              span Рейтинг
            .card__rating-value(class=ratingStatusClass)
              span 7.5
          a(href="provider.html#feedback").card__feedback
            .card__feedback-count
              span 5
            .card__feedback-property
              span отзывов
      .card__inner
        a(href="provider.html#adress").card__adress
          span Санкт-Петербург, Свеаборгская улица д.12
        .card__delivery
          span Доставка бесплатно в пределах 90 км от КАД, далее от 200 ₽.
        .card__price
          .card__price-status
            .card__price-status-title
              span Цена проверена
            .card__price-status-value(class=statusClass)
              span сегодня
          .card__price-item
            .card__price-wrap
              .card__price-value
                span 29,75
              .card__price-currency
                span ₽/л
            .card__price-conditions
              span Минимальный объем доставки 200 л

        .card__btn
          button.card__order-btn(data-link=".lead-modal")
            span заказать
      .card__details
        a(href='provider.html').card__details-link Подробнее

mixin slide(slideCustomClass, slidedBg)
  .slide(class=slideCustomClass style=slidedBg)
    .slide__inner
      h3 Some title
      p Some lorem ipsum text

mixin breadcrumbs(colorClass, firstPage, lastPage)
  .breadcrumbs(class=colorClass)
    ul.breadcrumbs__list
      li.breadcrumbs__item
        a(href='../index.html' title='Главная')= firstPage
      li.breadcrumbs__item
        span= lastPage


mixin card-mini(cardMiniCustomClass, ratingStatusClass)
  .card-mini(class=cardMiniCustomClass)
    a(href='./provider.html').card-mini__inner
      .card-mini__logo
        img(src='./img/logo.jpg').card-mini__img
      .card-mini__header
        .card-mini__title
          span Газовая перспектива
        .card-mini__header-wrap
          .card-mini__rating
            .card-mini__rating-title
              span Рейтинг
            .card-mini__rating-value(class=ratingStatusClass)
              span 7.5
          .card-mini__feedback
            .card-mini__feedback-count
              span 5
            .card-mini__feedback-property
              span отзывов
      .card-mini__adress
        .card-mini__adress-item
          span Москва и МО, Санкт-Петербург и ЛО
        .card-mini__advantages
          .card-mini__advantages-gaz
            span.card-mini__gaz-icon
            span Газ
          .card-mini__advantages-diz
            span.card-mini__diz-icon
            span Дизель

mixin card-page(cardPageCustomClass)
  .card-page(class=cardPageCustomClass)
    .card-page__wrap
      .card-page__header
        .card-page__title
          h2 LPG 800 «СПЕЦГАЗ»
        .card-page__text
          p.
            Сегодня автономное газовое отопление является одним из самых выгодных
            способов для обеспечения объектов теплом и горячим водоснабжением в
            местах, где нет центрального газоснабжения.
      .card-page__img
        img(src='./img/gas-holder.jpg' alt='Газгольдер' title='Газгольдер').card-page__pic
      .card-page__details
        .card-page__details-item
          .card-page__detail-value 770×1280
            span мм
          .card-page__detail-property
            span Размер
        .card-page__details-item
          .card-page__detail-value 800
            span л
          .card-page__detail-property
            span Полный объем
        .card-page__details-item
          .card-page__detail-value 600
            span л
          .card-page__detail-property
            span Рабочий объем
        .card-page__details-item
          .card-page__detail-value 165
            span кг
          .card-page__detail-property
            span Вес
        .card-page__details-item
          .card-page__detail-value 25
            span лет
          .card-page__detail-property
            span Срок службы
      .card-page__inner
        .card-page__price
          span.card-page__price-item!= 'от <span class="card-page__price-value">85000</span> ₽'
        button.delivery__show-more-btn
          span.delivery__show-more-btn-open 16 предложений
          span.delivery__show-more-btn-close Свернуть
        .card-page__traders
          .card-page__item
            a.card-page__wrapper(href="#")
              .card-page__trader-logo
                img(src='./img/gazovoz.jpg' alt='Газовоз' title='Газовоз').card-page__pic
              .card-page__trader-name
                span Газовоз
              .card-page__trader-price
                span.card-page__trader-price-value!= '<span class="card-page__trader-price-value-item">850000</span>&#160;₽'
          .card-page__item
            a.card-page__wrapper(href="#")
              .card-page__trader-logo
                img(src='./img/gazovoz.jpg' alt='Газовоз' title='Газовоз').card-page__pic
              .card-page__trader-name
                span Газовоз
              .card-page__trader-price
                span.card-page__trader-price-value!= '<span class="card-page__trader-price-value-item">850000</span>&#160;₽'
          .card-page__item
            a.card-page__wrapper(href="#")
              .card-page__trader-logo
                img(src='./img/gazovoz.jpg' alt='Газовоз' title='Газовоз').card-page__pic
              .card-page__trader-name
                span Газовоз
              .card-page__trader-price
                span.card-page__trader-price-value!= '<span class="card-page__trader-price-value-item">850000</span>&#160;₽'
          .card-page__item
            a.card-page__wrapper(href="#")
              .card-page__trader-logo
                img(src='./img/gazovoz.jpg' alt='Газовоз' title='Газовоз').card-page__pic
              .card-page__trader-name
                span Газовоз
              .card-page__trader-price
                span.card-page__trader-price-value!= '<span class="card-page__trader-price-value-item">850000</span>&#160;₽;'
          .card-page__item
            a.card-page__wrapper(href="#")
              .card-page__trader-logo
                img(src='./img/gazovoz.jpg' alt='Газовоз' title='Газовоз').card-page__pic
              .card-page__trader-name
                span Газовоз
              .card-page__trader-price
                span.card-page__trader-price-value!= '<span class="card-page__trader-price-value-item">850000</span>&#160;₽'
          .card-page__item
            a.card-page__wrapper(href="#")
              .card-page__trader-logo
                img(src='./img/gazovoz.jpg' alt='Газовоз' title='Газовоз').card-page__pic
              .card-page__trader-name
                span Газовоз
              .card-page__trader-price
                span.card-page__trader-price-value!= '<span class="card-page__trader-price-value-item">850000</span>&#160;₽'

mixin article(articlePageCustomClass)
  article(class=articlePageCustomClass).article
    .article__wrap
      a(href='./article-page.html').article__img
        img(src='./img/pic.jpg' alt='Газгольдер' title='Газгольдер').article__pic
      .article__inner
        a(href='./article-page.html').article__title
          h2 Как заправлять газгольдер?
        .article__date
          span 29 августа 2019, 16:05
        .article__text
          p.
            Сегодня автономное газовое отопление является одним из самых выгодных
            способов для обеспечения объектов теплом и горячим водоснабжением в
            местах, где нет центрального газоснабжения.
        .article__read-link
          a(href='./article-page.html') Читать

mixin feedback-slide(slideCustomClass, ratingStatusClass)
  .feedback(class=slideCustomClass)
    .feedback__wrap
      .feedback__header
        .feedback__user-ava
          img(src='./img/ava.png' alt='Аватар' title='Аватар').feedback__user-img
        .feedback__inner
          .feedback__name
            span Василиса
            span Новгородская
          .feedback__date
            span 01.07.2019
      .feedback__rating
        .card__rating-title
          span Оценка
        .card__rating-value(class=ratingStatusClass)
          span 7.5
      .feedback__text
        p.
          По сравнению с другими видами топлива газ является самым доступным
          по цене, автономная газификация несет экономическую выгоду. Одним из
          многочисленных преимуществ ее является автоматизированная работа
          системы отопления
      .feedback__details
        a(href='.review-page').feedback__details-link Подробнее
